@charset "gb2312";
table,div,h1,h2,h3,h4,h5,h6,ol,dl,li,dt,dd,p,blockquote,pre,form,fieldset,ul,li{margin:0px auto;padding:0px;}


/****************** 锟斤拷锟斤拷锟斤拷锟斤拷 *****************/

body  {
	font-size: 12px;
	background-color: #ffffff;
	background: url(../images/zfindex/bg_001.jpg) center top repeat-x;
	margin:0 auto;
	
	}

a:link,a:visited { color:#333333;font-size:12px;text-decoration: none;}
a:hover{ color:#3333333; text-decoration:underline}
a.bold:link,a.bold:visited { color:#333333;font-size:12px;text-decoration: none;font-weight: bold;}
a.bold:hover{ color:#ff3300;}
a.white:link,a.white:visited { color:#fff;font-size:12px;text-decoration: none;}
a.white:hover{ color:#fff;}
a.gray:link,a.gray:visited { color:#333;font-size:12px;text-decoration: none;}
a.gray:hover{ color:#666;}
a.red:link,a.red:visited { color:#600;font-size:12px;text-decoration: none;font-weight: bold;}
a.red:hover{ color:#f00;}

.link1 { color:#ffffff; text-decoration:none;}
.link1 a:link,.link1 a:visited  {color:#ffffff; text-decoration: none}
.link1 a:hover,.link1 a:active  {color:#ffffff; text-decoration: none}
/* ---------- header ---------- */
.head{ width:1000px; margin: 0 auto; background:#ffffff;}
.box1{ width:980px; height:32px; margin:0 auto; background:url(../images/zfindex/header_002.gif) repeat-x; line-height:32px; text-align:left; padding-left:20px; color:#ffffff;}
/* ---------- 菜单 ---------- */
.menu_navcc{width:980px; margin:0 auto;}
.menu_nav{width:980px;height:50px;}
.menu_nav .nav_content{ width:945px; margin: 0 auto;}
.menu_nav .nav_content li{width:85px;height:40px; padding-top:10px; padding-top:5px\9;float:left;text-align:center;font-size:12px; list-style:none;}

.menu_nav .nav_content li a{color:#ffffff;width:85px;height:50px;display:block;}
.menu_nav .nav_content li a .red{color:#b10808;width:85px;height:50px;display:block;}
.menu_nav .nav_content li a .red:hover{text-decoration:none;}
.menu_nav .nav_content li.current{}
.menu_nav .nav_content li.current a,.menu_nav .nav_content li a:hover{width:85px;height:35px;background:url(../images/zfindex/menu_001.gif) no-repeat center bottom;display:block;color:#ffffff;}
.menu_nav .nav_content li a:hover{background:url(../images/zfindex/menu_001.gif) no-repeat center;text-decoration:none;}


.main{ width:1000px; margin:0px auto; background:#ffffff;}
/* ---------- 左边 ---------- */
.main_left{ float:left; width:500px; margin:10px; _margin:10px 5px;}
.main_right{ float:right; width:470px; margin:10px 10px 0px 0px;_margin:10px 5px 0px 0px;}

.box2{ width:498px; border:1px solid #91b5dc;}
.box3{ width:498px; background:url(../images/zfindex/top_002.gif) repeat-x;}
.box5{ width:498px; border:1px solid #91b5dc; margin-top:10px;}
.box7{ width:498px; background:url(../images/zfindex/top_002.gif) repeat-x;}

.box8{ width:468px; border:1px solid #91b5dc; margin-bottom:10px;}
.box9{ width:468px; background:url(../images/zfindex/top_002.gif) repeat-x;}
.box10{ width:440px; margin:20px auto 18px;}

.box11{ width:978px; border:1px solid #91b5dc; margin:10px auto;}
.box12{ width:978px; background:url(../images/zfindex/top_002.gif) repeat-x;}
.box13{ width:940px; margin:10px auto;}

.img1{ float:left; width:160px; margin:10px; _margin:10px 5px;}
.img2{ width:240px; margin:10px auto;}
.img3{ width:1000px; text-align:center;}
.img4{ width:980px; text-align:center; margin:5px auto;}

.text1{ width:300px; float:right; margin:10px 10px 10px 0px;_margin:10px 5px 10px 0px; text-align:left; line-height:20px;}

.text4{ width:460px; margin:8px 0px;}
.text5 { width:350px; padding-left:10px; background:url(../images/zfindex/top_006.gif) left no-repeat; text-align:left; height:20px; line-height:20px; float:left;}
.text6{ width:80px; float: right; text-align:left; height:20px; line-height:20px; }
.text7{ width:460px; margin:9px 0px;}

/*--.bx_wrap {
	margin-left: 10px;
}
.examples_body .bx_wrap ul img {
	border:none;
}
.bx_wrap a.prev {
	width: 9px;
	height: 178px;
	float:left;
	outline-style: none;
	outline-width: 0;
	position: absolute;
	text-indent: -9999px;
	background: url(../images/zfindex/top_025.gif) no-repeat right;
	left: 1px;
}
.bx_wrap a.prev:hover {
	background: url(../images/zfindex/top_025.gif) no-repeat left;
}
.bx_wrap a.next {
	width: 9px;
	height: 178px;
	outline-style: none;
	float:right;
	outline-width: 0;
	position: absolute;
	text-indent: -9999px;
	background: url(../images/zfindex/top_026.gif) no-repeat left;
	left: 719px;
	top: 0px;
}
.bx_wrap a.next:hover {
	background: url(../images/zfindex/top_026.gif) no-repeat right;
}--/

/* ---------- 通用属性---------- */
.lin{ border-bottom: 1px #979797 dashed;}
.lef{ float:left}
.rig{ float:right}
.mar5{ margin-top:5px;}
.mar10{ margin-top:10px;}
.mar17{ margin-top:17px;}
.mar_r_5{ margin-right:5px;}
.mar_l_10{ margin-right:10px;}

/* ---------- footer ---------- */
.fot{ width:1000px; text-align:center; margin-top:10px;}

.clear {
	display:block;
	clear:both;
	font-size: 0px;
}
.box3:after,.main1:after,{
	content:".";
	height:0;
	display:block;
	visibility:hidden;
	clear:both;
}
.datalist {
            border: 1px solid #0058a3; /* 表格边框 %%%%%%%%%%%%非常好的边框设置%%%%%%%%%*/
            font-family: Arial;
            border-collapse: collapse; /* 边框重叠 */
            background-color: #eaf5ff; /* 表格背景色  %%%%%%%%%%%%%%%%% 非常好的背景颜色 %%%%%%%%%%%%% */
            font-size: 14px;
            table-layout: fixed;
            word-wrap: break-word;
            word-break: break-all;
            width: 500px;//固定表格宽度,不会撑大表格
        }
 
        .datalist caption {
            padding-bottom: 5px;
            font: bold 1.4em;
            text-align: left;
        }
 
        .datalist th {
            border: 1px solid #0058a3; /* 行名称边框 */
            background-color: #4bacff; /* #c4e4ff #4bacff %%%%%%%%%%%%%%%%% 非常好的背景颜色 %%%%%%%%%%%%%  行名称背景色 */
            color: #FFFFFF; /* 行名称颜色 */
            font-weight: bold;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 12px;
            padding-right: 12px;
            text-align: center;
        }
 
        .datalist td {
            border: 1px solid #0058a3; /* 单元格边框 */
            text-align: left;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left: 10px;
            padding-right: 10px;
        }
 
        /*css控制隔行变色，注意：table的td标签不能有背景色，否则隔行变色失败*/
        .datalist tr:nth-child(even) {background:#e1f2f9}
        .datalist tr:nth-child(odd) {background: #BCD2EE}
 

/* ---------- END ---------- 
#menu {
	background-image:url(../img/new/menu_b1.gif);
	background-repeat:repeat-x;
	background-color:#000000;}*/
